/*Footer*/
.footer{
    height: 4rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-top:1px #00000024 solid;
}
.footer a{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    font-size: 25px;
    color: #00334d;
}
.icon-fb:hover{
    background-color: #1877f2;
    color: #FFFFFF;
}
.icon-tw:hover{
    background-color: #1da1f2;
    color: #FFFFFF;
}
.icon-ig:hover{
    background-color: #e4405f;
    color: #FFFFFF;
}
.icon-pin:hover{
    background-color: #bd081c;
    color: #FFFFFF;
}
.icon-tel:hover{
    background-color: #2ca5e0;
    color: #FFFFFF;
}