/**Nav**/
.flex-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 4rem;
}
.logo{
    font-size: 22px;
    font-weight: 700;
}
.fixed{
    position: fixed;
    top:0;
    right: 0;
    background-color: #fbfaf4;
    z-index: 999;
}
.search{
    border: #00334d solid 1px;
    padding: 0.7rem;
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.search input{
    padding:10px;
    width: 250px;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #fbfaf4;
}